:root {
	/* Light-Mode Colors: */
	--primary-color: #da2c43;
	--secondary-color: #f9f7f3;
	--trim-color: #da2c43;
	--textBox-color: #fff;
	--text-color: #333;
	/* Dark-Mode Colors:*/
	/* --primary-color: #171717;
	--secondary-color: #444444;
	--trim-color: #da2c43;
	--textBox-color: #c9cfca;
	--text-color: #ededed; */
}
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: var(--primary-color);
}
.container {
	position: relative;
	max-width: 700px;
	width: 100%;
	background: var(--secondary-color);
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

	/* i added this extra so the login isnt so small */
	min-width: 500px;
}
/* I also added this part. for the login width */
/* Media query for screens smaller than 400px */
@media (max-width: 500px) {
	.container {
		min-width: auto; /* Remove the minimum width */
	}
}
.container header {
	font-size: 1.5rem;
	color: var(--text-color);
	font-weight: 500;
	text-align: center;
}
.container .form {
	margin-top: 30px;
}
.form .input-box {
	width: 100%;
	margin-top: 20px;
}
.input-box label {
	color: var(--text-color);
}
.input-box input {
	background-color: var(--textBox-color);
}
.form :where(.input-box input, .select-box) {
	position: relative;
	height: 50px;
	width: 100%;
	outline: none;
	font-size: 1rem;
	color: #707070;
	margin-top: 8px;
	border: 1px solid #dddddd;
	border-radius: 6px;
	padding: 0 15px;
}
.input-box input:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
	display: flex;
	column-gap: 15px;
}
.form .gender-box {
	margin-top: 20px;
}
.gender-box h3 {
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
	display: flex;
	align-items: center;
	column-gap: 50px;
	flex-wrap: wrap;
}
.form .gender {
	column-gap: 5px;
}
.gender input {
	accent-color: var(--trim-color);
}
.form :where(.gender input, .gender label) {
	cursor: pointer;
}
.gender label {
	color: var(--text-color);
}
.address :where(input, .select-box) {
	margin-top: 15px;
}
.select-box select {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	color: var(--text-color);
	font-size: 1rem;
}
.form button {
	height: 55px;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 30px;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
	background: var(--primary-color);
}
.form button:hover {
	background: var(--primary-color);
}
/*Responsive*/
@media screen and (max-width: 500px) {
	.form .column {
		flex-wrap: wrap;
	}
	.form :where(.gender-option, .gender) {
		row-gap: 15px;
	}
}
