:root {
	/* Light-Mode Colors: */
	--primary-color: #da2c43;
	--secondary-color: #f9f7f3;
	--trim-color: #420516;
	--textBox-color: #fff;
	--text-color: #f9f7f3;
	--black-text-color: black;
	/* Dark-Mode Colors:*/
	/* --primary-color: #171717;
	--secondary-color: #444444;
	--trim-color: #da2c43;
	--textBox-color: #c9cfca;
	--text-color: #ededed; */
}

.navbar-spacer {
	margin-left: 90px; /* Adjust the height to increase or decrease the space */
}

.navbar {
	background-color: var(--primary-color);
	color: #fff;
	position: sticky;
	left: 5%;
	right: 5%;

	margin: 20px;
	border-radius: 15px;
	z-index: 999;

	-webkit-box-shadow: 0px 4px 39px 2px rgba(105, 105, 105, 1);
	-moz-box-shadow: 0px 4px 39px 2px rgba(105, 105, 105, 1);
	box-shadow: 0px 4px 39px 2px rgba(105, 105, 105, 1);
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	position: sticky;
}

.navbar-logo {
	color: var(--text-color);
	text-decoration: none;
	font-size: 20px;
}

.navbar-logo-section {
	margin-right: 50px;
	margin-left: 50px;
}

.navbar-menu {
	display: flex;
	align-items: center;
}

.navbar-hamburger-menu {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.navbar-line {
	width: 25px;
	height: 3px;
	background-color: #ffffff;
	margin: 3px;
	transition: transform 0.3s;
}

.navbar-nav-links {
	display: flex;
	list-style: none;
	margin-right: 50px;
	margin-left: 50px;

	flex-direction: row;
	align-items: center;
}

.navbar-nav-links li {
	margin-left: 40px;
}

.navbar-nav-links a {
	color: var(--text-color);
	text-decoration: none;
}

.navbar-login-out-ID {
	color: var(--text-color);
	text-decoration: none;
	border: none;
	outline: none;
	padding: 5px 20px;
	font-size: 16px;
	background-color: #ff9898;
	border-radius: 6px;
}

@media screen and (max-width: 768px) {
	.navbar-nav-links {
		display: none;
	}

	.navbar-hamburger-menu {
		display: flex;
	}

	.open .navbar-line:nth-child(1) {
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.open .navbar-line:nth-child(2) {
		opacity: 0;
	}

	.open .navbar-line:nth-child(3) {
		transform: rotate(45deg) translate(-5px, -6px);
	}

	.open ~ .navbar-nav-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #333;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 10px;
		transition: all 0.3s;
	}
}
